.homepage>.tips {
    display: block;
    background-color: var(--box);
    max-width: 600px;
    width: 87%;
    margin-top: 30px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 7px;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border);
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.homepage>.tips>h3 {
    margin-top: 0px;
    margin-bottom: 5px;
    font-size: 16px;
}

.homepage>.tips>p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 12px;
    background-color: var(--box-2);
    border-radius: 5px;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--border);
}

.homepage>.tips>#tipsIcon {
    color: var(--iconColor);
}

.homepage>.slider-muscles {
    color: var(--iconColor);
    max-width: 700px;
    width: 90%;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}


.homepage>.slider-muscles {
    /* position: relative; */
}

.homepage>.slider-muscles .slider-item {
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .homepage>.slider-muscles .alice-carousel__stage li {
    margin-right: 5px;
    margin-left: 5px;
} */


.homepage>.slider-muscles .slider_muscles_image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 12px;
}

.homepage>.slider-muscles .slider_muscles_names {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    margin: 0;
    font-size: 10px;
    text-wrap: nowrap;
    color: var(--color-4);
    background-color: var(--whiteColor);
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 5px;
}

.homepage>.slider-muscles .alice-carousel__stage li:hover .slider_muscles_names {
    color: var(--whiteColor);
    background-color: var(--color-3);
}

.homepage>.menu-list {
    width: 90%;
    max-width: 700px;
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    /* تحديد عمودين */
    gap: 10px;
    /* المسافة بين العناصر */
    padding: 0;
    list-style: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    padding: 10px;
}

.homepage>.menu-list>.menu-item>.menu-link {
    display: flex;
    height: 150px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-decoration: none;
    color: var(--color-3);
    padding: 10px;
    /* border: 1px solid var(--border); */
    border-radius: 18px;
    box-sizing: border-box;
    background-color: black;
}

.homepage>.menu-list>.menu-item>.menu-link>.backgroundMenuList {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(1.5px);
    z-index: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0.5;

}

.homepage>.menu-list>.menu-item>.menu-link>.backgroundMenuList:hover {
    opacity: 0.7;
}

.homepage>.menu-list>.menu-item>.menu-link:hover {
    background-color: var(--box);
}

.homepage>.menu-list>.menu-item>.menu-link>p {
    position: 'relative';
    color: var(--whiteColor);
    /* background-color: #0000003e; */
    padding: 15px;
    border-radius: 10px;
    z-index: 1;
    font-size: 15px;
    text-shadow: 2px 2px 4px #000000;
}