[data-theme="light"] {
    --whiteColor: #ffffff;
    --background: #eceff4;
    --color-1: #CDE8E5;
    --color-2: #EEF7FF;
    --color-3: #7AB2B2;
    --color-4: #4D869C;
    --box: #dee2ea;
    --box-2: #d4d7dc;
    --border: #b8bfcb;
    --iconColor: #7AB2B2;
    --navigationbarBackground: #ffffff;
    --navigationbarColor: #000000;
    --navigationbarColorIcon: #7AB2B2;
    --navigationbarBackgroundHover: #eceff4;
    --navigationbarBackgroundAfter: #7ab2b244;
    --male: #8fa5e0;
    --female: #dfa6de;
}



[data-theme="dark"] {}