[data-theme="light"] {
    --whiteColor: #ffffff;
    --background: #eceff4;
    --color-1: #CDE8E5;
    --color-2: #EEF7FF;
    --color-3: #7AB2B2;
    --color-4: #4D869C;
    --color-5: #B0D8D5; 
    --color-6: #5E9E9E;
    --color-7: #3A6B7C; 
    --color-8: #e5f7f6; 
    --box: #dee2ea;
    --box-2: #dddddd;
    --box-3: #ffffff;
    --box-4: #f9f9f9;
    --border: #dddddd;
    --iconColor: #7AB2B2;
    --navigationbarBackground: #ffffff;
    --navigationbarColor: #000000;
    --navigationbarColorIcon: #7AB2B2;
    --navigationbarBackgroundHover: #e1f6f6;
    --navigationbarBackgroundHover-2: #c1dfdf;
    --navigationbarBackgroundAfter: #7ab2b244;
}



[data-theme="dark"] {}